<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">

    <script type="text/javascript" src="/js/jquery-2.0.3.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.js"></script>
    
    
	<title>OpenTSDB Console</title>
	<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.css" />	
	<link rel="stylesheet" type="text/css" href="/nav-tree/abn_tree.css" />	
	<link rel="stylesheet" type="text/css" href="/css/boot.css" />
	<link rel="stylesheet" type="text/css" href="/font-awesome/css/font-awesome.css" />
</head>
<body data-ng-app="tsdbConsole" data-ng-csp>	
	<h3>OpenTSDB Console</h3>
	<div ng-controller="tsdbConsoleController">
		<p>{{greeting}} {{person}}</p>
		<input ng-model="greeting">
		<input ng-model="person">
	</div>
	<div>
	   <table ng-controller="AbnTestController">
	      <tr>
	        <td>
	          <div style="width:250px;margin-left:0px;background:whitesmoke;border:1px solid lightgray;border-radius:5px;">
	            <abn-tree tree-data="example_treedata" icon-leaf="icon-file" on-select="my_tree_handler(branch)" expand-level="2" initial-selection="Vegetable"></abn-tree>
	          </div>
	        </td>
	        <td style="padding:20px;vertical-align:top;">
	          <div style="width:300px" class="alert alert-warning">{{ output }}</div>
	        </td>
	      </tr>
	    </table>	
    </div>	
    <script type="text/javascript" src="/js/angular-1.2.14.js"></script>
    <script type="text/javascript" src="/js/angular-animate.js"></script>
    <script type="text/javascript" src="index.js"></script>
    <script type="text/javascript" src="/nav-tree/abn_tree_directive.js"></script>
    <!-- <script type="text/javascript" src="/nav-tree/test_data.js"></script>  -->
    <script type="text/javascript" src="/js/ui-bootstrap-0.9.0.js"></script>    	
</body>
</html>