<div ng-controller="connectModal">
    
        <div class="modal-header">
            <h5>Connect to an OpenTSDB Server</h5>
        </div>


        <div class="modal-body" ng-controller="connectModal" ng-model="ConnectionModel">
            <ul>
                <li ng-repeat="knownConnection in knownConnections">
                    <a ng-click="selected.item = item">{{ knownConnection.url }}</a>
                </li>
            </ul>        
            <table><tr>            
                <td>Server:</td><td><input type="text" ng-model="dynamicPopover" class="form-control" id="selectedServer"></td>
            </tr><tr style="vertical-align: middle;">
                <td style="vertical-align: middle;">Make Default:</td><td><input style="vertical-align: top;" type="checkbox" id="mkDef"></td>
            </tr></table>            
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    
</div>